<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">


  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="{% static 'assets1/img/favicon.png' %}" rel="icon">
  <link href="{% static 'assets1/img/apple-touch-icon.png' %}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{% static 'assets1/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets1/vendor/icofont/icofont.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets1/vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets1/vendor/animate.css/animate.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets1/vendor/remixicon/remixicon.css' %}" rel="stylesheet">
  <link href="{% static 'assets1/vendor/venobox/venobox.css' %}" rel="stylesheet">
  <link href="{% static 'assets1/vendor/owl.carousel/assets/owl.carousel.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets1/vendor/aos/aos.css' %}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{% static 'assets1/css/style.css' %}" rel="stylesheet">


   <link href="{% static 'assetevent2/img/favicon.png' %}"rel="icon">
  <link href="{% static 'assetevent2/img/apple-touch-icon.png' %}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{% static 'assetevent2/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'assetevent2/vendor/icofont/icofont.min.css' %}" rel="stylesheet">
  <link href="{% static 'assetevent2/vendor/boxicons/css/boxicons.min.cs' %}" rel="stylesheet">
  <link href="{% static 'assetevent2/vendor/venobox/venobox.css' %}" rel="stylesheet">
  <link href="{% static 'assetevent2/vendor/owl.carousel/assets/owl.carousel.min.css' %}" rel="stylesheet">
  <link href="{% static 'assetevent2/vendor/aos/aos.css' %}" rel="stylesheet">

  <!-- Template Main CSS File -->







</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top">
    <div class="container d-flex align-items-center">

      <h1 class="logo me-auto"><a href="index">Flexino</a></h1>


      <nav class="nav-menu d-none d-lg-block">
        <ul>
          <li class="active"><a href="index">Home</a></li>

            <li><a href="register">Register</a></li>
              <li><a href="login">Login</a></li>


        </ul>
      </nav><!-- .nav-menu -->

      <a href="#about" class="get-started-btn">Get Started</a>

    </div>
  </header><!-- End Header -->


{% block content %}


{% endblock %}



    <br>
  <br>
  <br>

    <br>
  <br>
  <br>





  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-4 col-md-6">
            <div class="footer-info">
              <h3>Flexino</h3>

              <p>
                A108 Adam Street <br>
                NY 535022, USA<br><br>
                <strong>Phone:</strong> +1 5589 55488 55<br>
                <strong>Email:</strong> info@flexino.com<br>
              </p>
              <div class="social-links mt-3">
                <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
                <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
                <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
                <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
                <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-2 col-md-6 footer-links">
            <h4>Useful Links</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="index">Home</a></li>

            </ul>
          </div>

          <div class="col-lg-2 col-md-6 footer-links">
            <h4>Our Upcoming Events</h4>
             <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="event1">Business Conferences</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="event2">Trade Shows</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="event3">Summit Meetings</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="event4">EPOS</a></li>

            </ul>
          </div>

          <div class="col-lg-4 col-md-6 footer-newsletter">
            <h4>Our Newsletter</h4>

            <form action="" method="post">
              <input type="email" name="email"><input type="submit" value="Subscribe">
            </form>

          </div>

        </div>
      </div>
    </div>

    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong><span>Flexino</span></strong>. All Rights Reserved
      </div>
      <div class="credits">
        <!-- All the links in the footer should remain intact. -->
        <!-- You can delete the links only if you purchased the pro version. -->
        <!-- Licensing information: https://bootstrapmade.com/license/ -->
        <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/multi-responsive-bootstrap-template/ -->
        Designed by <a href="#" >Blessy</a>
      </div>
    </div>
  </footer><!-- End Footer -->

  <div id="preloader"></div>
  <a href="#" class="back-to-top"><i class="icofont-simple-up"></i></a>

  <!-- Vendor JS Files -->
  <script src="{% static 'assets1/vendor/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'assets1/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'assets1/vendor/jquery.easing/jquery.easing.min.js' %}"></script>
  <script src="{% static 'assets1/vendor/php-email-form/validate.js' %}"></script>
  <script src="{% static 'assets1/vendor/waypoints/jquery.waypoints.min.js' %}"></script>
  <script src="{% static 'assets1/vendor/counterup/counterup.min.js' %}"></script>
  <script src="{% static 'assets1/vendor/venobox/venobox.min.js' %}"></script>
  <script src="{% static 'assets1/vendor/owl.carousel/owl.carousel.min.js' %}"></script>
  <script src="{% static 'assets1/vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
  <script src="{% static 'assets1/vendor/aos/aos.js' %}"></script>

  <!-- Template Main JS File -->
  <script src="{% static 'assets1/js/main.js' %}"></script>



<!-- Vendor JS Files -->
  <script src="{% static 'assetevent2/vendor/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'assetevent2/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'assetevent2/vendor/jquery.easing/jquery.easing.min.js' %}"></script>
  <script src="{% static 'assetevent2/vendor/php-email-form/validate.js' %}"></script>
  <script src="{% static 'assetevent2/vendor/jquery-sticky/jquery.sticky.js' %}"></script>
  <script src="{% static 'assetevent2/vendor/venobox/venobox.min.js' %}"></script>
  <script src="{% static 'assetevent2/vendor/owl.carousel/owl.carousel.min.js' %}"></script>
  <script src="{% static 'assetevent2/vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
  <script src="{% static 'assetevent2/vendor/aos/aos.js' %}"></script>

  <!-- Template Main JS File -->
  <script src="{% static 'assetevent2/js/main.js' %}"></script>

</body>

</html>