<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="referrer" content="no-referrer-when-downgrade">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Business</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="{% static 'assets/img/favicon.png' %}" rel="icon">
  <link href="{% static 'assets/img/apple-touch-icon.png' %}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{% static 'assets/vendor/bootstrap/css/bootstrap.min.css' %}"  rel="stylesheet">
  <link href="{% static 'assets/vendor/icofont/icofont.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/boxicons/css/boxicons.min.css' %}"  rel="stylesheet">
  <link href="{% static 'assets/vendor/owl.carousel/assets/owl.carousel.min.css' %}"  rel="stylesheet">
  <link href="{% static 'assets/vendor/remixicon/remixicon.css' %}"  rel="stylesheet">
  <link href="{% static 'assets/vendor/venobox/venobox.css' %}"  rel="stylesheet">
  <link href="{% static 'assets/vendor/aos/aos.css' %}"  rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{% static 'assets/css/style.css' %}" rel="stylesheet">

</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top">
    <div class="container d-flex align-items-center">
      <h1 class="logo me-auto"><a href="index">Flexino<span>.</span></a></h1>
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="index.html" class="logo me-auto"><img src="assets/img/logo.png" alt=""></a>-->

      <nav class="nav-menu d-none d-lg-block">
        <ul>

          <li class="active"><a href="index">Home</a></li>
          <li><a href="#about">About</a></li>
                  <li><a href="login">Login</a></li>

          <li><a href="#portfolio">Portfolio</a></li>
          <li><a href="#team">Team</a></li>


          <li class="drop-down"><a href="">Events</a>
            <ul>

                <ul>

                </ul>
              </li>
              <li><a href="event1">Upcoming Events 1</a></li>
              <li><a href="event2">Upcoming Events 2</a></li>
              <li><a href="event3">Upcoming Events 3</a></li>
              <li><a href="event4">Upcoming Events 4</a></li>
            </ul>
          </li>
          <li><a href="#contact">Contact</a></li>
        </ul>
      </nav><!-- .nav-menu -->

      <a href="#about" class="get-started-btn scrollto">Get Started</a>
    </div>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex align-items-center">

    <div class="container" data-aos="zoom-out" data-aos-delay="100">
      <div class="row">
        <div class="col-xl-6">
          <h1>Bettter digital experience with our Business</h1>
          <h2>We are team of talanted business workers in Business </h2>
       <a href="register"  class="btn-get-started animate__animated animate__fadeInUp scrollto">Book Your Seat Now</a>
        </div>
      </div>
    </div>

  </section><!-- End Hero -->

  <br>
    <!-- ======= About Section ======= -->
    <section id="about" class="about section-bg">
      <div class="container" data-aos="fade-up">

        <div class="row no-gutters">
          <div class="content col-xl-5 d-flex align-items-stretch">
            <div class="content">
              <h3>Flexino</h3>
              <p>
               Have a clear business purpose for holding the event.We all know the goal is to throw a great live event. To that end, we also have to be aware of what we can or cannot realistically do — be it budget … or time-wise. If you decide to throw a live event in a week’s time, plan for a more intimate affair. For a big event, you should prepare several months ahead. If the budget is small, you may have to counterbalance with creativity and a lot of do-it-yourself work
              </p>
              <a href="#" class="about-btn"><span>About us</span> <i class="bx bx-chevron-right"></i></a>
            </div>
          </div>
          <div class="col-xl-7 d-flex align-items-stretch">
            <div class="icon-boxes d-flex flex-column justify-content-center">
              <div class="row">
                <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="100">
                  <i class="bx bx-receipt"></i>
                  <h4>Business Conferences</h4>
                  <p>A Business Conference can be used as build awareness for an organization and together to discuss a new trends ,oppurtunities pertaining to the business.</p>
                </div>
                <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="200">
                  <i class="bx bx-cube-alt"></i>
                  <h4>Trade Shows</h4>
                  <p>Trade Show is an event held to bring together members of particular industry to display,demonstrate and discuss their latest products and services.</p>
                </div>
                <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="300">
                  <i class="bx bx-images"></i>
                  <h4>Summit Meetings</h4>
                  <p>	Summit Meeting leads  international meeting of heads of state usually with considerable media exposure,tigh security and prearranged agenda.</p>
                </div>
                <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="400">
                  <i class="bx bx-shield"></i>
                  <h4>EPOS System</h4>
                  <p>EPOS  system allows retailers to efficiently manage the day to day running of their business, not only through processing transactions but accurately managing inventory providing real-time reports</p>
                </div>
              </div>
            </div><!-- End .content-->
          </div>
        </div>

      </div>
    </section><!-- End About Section -->




    <!-- ======= Tabs Section ======= -->
    <section id="tabs" class="tabs">
      <div class="container" data-aos="fade-up">

        <ul class="nav nav-tabs row d-flex">
          <li class="nav-item col-3">
            <a class="nav-link active show" data-bs-toggle="tab" data-bs-target="#tab-1">
              <i class="ri-gps-line"></i>
              <h4 class="d-none d-lg-block">Business Conferences</h4>
            </a>
          </li>
          <li class="nav-item col-3">
            <a class="nav-link" data-bs-toggle="tab" data-bs-target="#tab-2">
              <i class="ri-body-scan-line"></i>
              <h4 class="d-none d-lg-block">Trade Shows</h4>
            </a>
          </li>
          <li class="nav-item col-3">
            <a class="nav-link" data-bs-toggle="tab" data-bs-target="#tab-3">
              <i class="ri-sun-line"></i>
              <h4 class="d-none d-lg-block">Summit Meetings</h4>
            </a>
          </li>
          <li class="nav-item col-3">
            <a class="nav-link" data-bs-toggle="tab" data-bs-target="#tab-4">
              <i class="ri-store-line"></i>
              <h4 class="d-none d-lg-block">EPOS System</h4>
            </a>
          </li>
        </ul>

        <div class="tab-content">
          <div class="tab-pane active show" id="tab-1">
            <div class="row">
              <div class="col-lg-6 order-2 order-lg-1 mt-3 mt-lg-0" data-aos="fade-up" data-aos-delay="100">
                <h3>Indexed listing of upcoming meetings, seminars, congresses, workshops, programs, continuing CME courses, trainings, summits,</h3>
                <p class="font-italic">

                </p>
                <ul>
                  <li><i class="ri-check-double-line"></i>Planning cannot take place until a budget is determined..</li>
                  <li><i class="ri-check-double-line"></i> The best conferences are ones that embrace a timely concept or idea, that will resonate with your attendees.</li>
                  <li><i class="ri-check-double-line"></i> Social Media to Improve Your Business will likely intrigue more people than one called "Improving Your Business.</li>
                </ul>
                <p>
                  Business conference is an excellent way to bring people within a company or industry together, to share ideas and to learn about new trends and opportunities
                </p>
              </div>
              <div class="col-lg-6 order-1 order-lg-2 text-center" data-aos="fade-up" data-aos-delay="200">
                <img src="{% static 'assets/img/tabs-1.jpg' %}"  alt="" class="img-fluid">
              </div>
            </div>
          </div>
          <div class="tab-pane" id="tab-2">
            <div class="row">
              <div class="col-lg-6 order-2 order-lg-1 mt-3 mt-lg-0">
                <h3>DETERMINE YOUR GOALS AND OBJECTIVES.</h3>
                <p>
                  Goals and objectives are often used interchangeably, but they’re not the same thing. Both are a way of moving forward, but a goal could be described as the Big Picture, while objectives are a Plan of Attack.
                </p>
                <p class="font-italic">

                </p>
                <ul>
                  <li><i class="ri-check-double-line"></i> Choose the right now.</li>
                  <li><i class="ri-check-double-line"></i>Design your exhibit around your goals.</li>
                  <li><i class="ri-check-double-line"></i>  Choose the right staff and train them well.</li>
                  <li><i class="ri-check-double-line"></i> Promote your presence.</li>
                </ul>
              </div>
              <div class="col-lg-6 order-1 order-lg-2 text-center">
                <img src="{% static 'assets/img/tabs-2.jpg' %}"  alt="" class="img-fluid">
              </div>
            </div>
          </div>
          <div class="tab-pane" id="tab-3">
            <div class="row">
              <div class="col-lg-6 order-2 order-lg-1 mt-3 mt-lg-0">
                <h3>A summit meetings is an international meeting of heads of government usually with considerable media exposure, tight security, and a prearranged agenda</h3>
                <p>
                  Develop a meeting agenda ahead of time and distribute it to attendees. Indicate the start time and include a short list of topics to be addressed. Don’t bog down your own meeting with a lengthy, overly detailed agenda. Indicate by name any individuals who will be responsible for reporting on a specific area
                </p>
                <ul>
                  <li><i class="ri-check-double-line"></i> Engage participants in the issues in the days leading up to the summit..</li>
                  <li><i class="ri-check-double-line"></i> Ensure that all commitments made at the summit—up, down, and across the organization—are kept.</li>
                  <li><i class="ri-check-double-line"></i> Solid pre-meeting work clarifies the objectives, coordinates the content, and initiates engagement with attendees.</li>
                </ul>
                <p class="font-italic">
                 The design and execution of the meeting itself should make that work come alive in what is in essence a series of structured conversations, carefully orchestrated to generate ideas, alignment, and, often, surprises along the way.
                </p>
              </div>
              <div class="col-lg-6 order-1 order-lg-2 text-center">
                <img src="{% static 'assets/img/tabs-3.jpg' %}"  alt="" class="img-fluid">
              </div>
            </div>
          </div>
          <div class="tab-pane" id="tab-4">
            <div class="row">
              <div class="col-lg-6 order-2 order-lg-1 mt-3 mt-lg-0">
                <h3>Stay on top of inventory to avoid out-of-stock issues

</h3>
                <p>
                 EPOS Systems allows retailers to efficiently manage the day to day running of their business, not only through processing transactions but accurately managing inventory providing real-time reports.
                </p>

                <ul>
                  <li><i class="ri-check-double-line"></i> Accurate pricing.</li>
                  <li><i class="ri-check-double-line"></i> Inventory tracking and stock control</li>
                  <li><i class="ri-check-double-line"></i> Tracking of customer loyalty/recurring business.</li>
                </ul>

               <p class="font-italic">
                  An effective EPOS system relies on the use of the appropriate EPOS software for your business.
                </p>
                       </div>
              <div class="col-lg-6 order-1 order-lg-2 text-center">
                <img src="{% static 'assets/img/tabs-4.jpg' %}"  alt="" class="img-fluid">
              </div>
            </div>
          </div>
        </div>

      </div>
    </section><!-- End Tabs Section -->



    <!-- ======= Portfolio Section ======= -->
    <section id="portfolio" class="portfolio">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Portfolio</h2>

        </div>



        <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="200">

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-wrap">
              <img src="{% static 'assets/img/portfolio/b.jpg' %}"  class="img-fluid" alt="">
              <div class="portfolio-info">

                <div class="portfolio-links">
                  <a href="{% static 'assets/img/portfolio/b.jpg' %}" data-gall="portfolioGallery" class="venobox" title="App 1"><i class="bx bx-plus"></i></a>

                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-web">
            <div class="portfolio-wrap">
              <img src="{% static 'assets/img/portfolio/b11 (4).jpg' %}" class="img-fluid" alt="">
              <div class="portfolio-info">

                <div class="portfolio-links">
                  <a href="{% static 'assets/img/portfolio/b11 (4).jpg' %}"  data-gall="portfolioGallery" class="venobox" title="Web 3"><i class="bx bx-plus"></i></a>

                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-wrap">
              <img src="{% static 'assets/img/portfolio/b12.jpg' %}"  class="img-fluid" alt="">
              <div class="portfolio-info">
                <div class="portfolio-links">
                  <a href="{% static 'assets/img/portfolio/b12.jpg' %}"  data-gall="portfolioGallery" class="venobox" title="App 2"><i class="bx bx-plus"></i></a>

                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-card">
            <div class="portfolio-wrap">
              <img src="{% static 'assets/img/portfolio/b14.jpeg' %}" class="img-fluid" alt="">
              <div class="portfolio-info">

                <div class="portfolio-links">
                  <a href="{% static 'assets/img/portfolio/b14.jpeg' %}"  data-gall="portfolioGallery" class="venobox" title="Card 2"><i class="bx bx-plus"></i></a>

                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-web">
            <div class="portfolio-wrap">
              <img src="{% static 'assets/img/portfolio/b15.jpg' %}"  class="img-fluid" alt="">
              <div class="portfolio-info">

                <div class="portfolio-links">
                  <a href="{% static 'assets/img/portfolio/b15.jpg' %}"  data-gall="portfolioGallery" class="venobox" title="Web 2"><i class="bx bx-plus"></i></a>

                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-wrap">
              <img src="{% static 'assets/img/portfolio/b16.jpg' %}"  class="img-fluid" alt="">
              <div class="portfolio-info">

                <div class="portfolio-links">
                  <a href="{% static 'assets/img/portfolio/b16.jpg' %}" data-gall="portfolioGallery" class="venobox" title="App 3"><i class="bx bx-plus"></i></a>

                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-card">
            <div class="portfolio-wrap">
              <img src="{% static 'assets/img/portfolio/b17.jpg' %}"  class="img-fluid" alt="">
              <div class="portfolio-info">

                <div class="portfolio-links">
                  <a href="{% static 'assets/img/portfolio/b17.jpg' %}"  data-gall="portfolioGallery" class="venobox" title="Card 1"><i class="bx bx-plus"></i></a>

                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-card">
            <div class="portfolio-wrap">
              <img src="{% static 'assets/img/portfolio/b18.png' %}" class="img-fluid" alt="">
              <div class="portfolio-info">
                <div class="portfolio-links">
                  <a href="{% static 'assets/img/portfolio/b18.png' %}"  data-gall="portfolioGallery" class="venobox" title="Card 3"><i class="bx bx-plus"></i></a>
                ></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-web">
            <div class="portfolio-wrap">
              <img src="{% static 'assets/img/portfolio/b19.jpg' %}"  class="img-fluid" alt="">
              <div class="portfolio-info">

                <div class="portfolio-links">
                  <a href="{% static 'assets/img/portfolio/b19.jpg' %}" data-gall="portfolioGallery" class="venobox" title="Web 3"><i class="bx bx-plus"></i></a>

                </div>
              </div>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Portfolio Section -->




    <!-- ======= Team Section ======= -->
    <section id="team" class="team section-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Team</h2>

        </div>

        <div class="row">

          <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
            <div class="member" data-aos="fade-up" data-aos-delay="100">
              <div class="member-img">
                <img src="{% static 'assets/img/team/manager.jpg' %}" class="img-fluid" alt="">
                <div class="social">
                  <a href=""><i class="icofont-twitter"></i></a>
                  <a href=""><i class="icofont-facebook"></i></a>
                  <a href=""><i class="icofont-instagram"></i></a>
                  <a href=""><i class="icofont-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4>Ann Andrews</h4>
                <span>Chief Executive Officer</span>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
            <div class="member" data-aos="fade-up" data-aos-delay="200">
              <div class="member-img">
                <img src="{% static 'assets/img/team/mana.jpg' %}" class="img-fluid" alt="">
                <div class="social">
                  <a href=""><i class="icofont-twitter"></i></a>
                  <a href=""><i class="icofont-facebook"></i></a>
                  <a href=""><i class="icofont-instagram"></i></a>
                  <a href=""><i class="icofont-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4>Suraja Jhonson</h4>
                <span>Product Manager</span>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
            <div class="member" data-aos="fade-up" data-aos-delay="300">
              <div class="member-img">
                <img src="{% static 'assets/img/team/make.jpg' %}" class="img-fluid" alt="">
                <div class="social">
                  <a href=""><i class="icofont-twitter"></i></a>
                  <a href=""><i class="icofont-facebook"></i></a>
                  <a href=""><i class="icofont-instagram"></i></a>
                  <a href=""><i class="icofont-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info">

                     <h4>Amanda Jepson</h4>
                <span>CTO</span>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
            <div class="member" data-aos="fade-up" data-aos-delay="400">
              <div class="member-img">
                <img src="{% static 'assets/img/team/man.jpg' %}" class="img-fluid" alt="">
                <div class="social">
                  <a href=""><i class="icofont-twitter"></i></a>
                  <a href=""><i class="icofont-facebook"></i></a>
                  <a href=""><i class="icofont-instagram"></i></a>
                  <a href=""><i class="icofont-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info">
                 <h4>William Anderson</h4>
                <span>Accountant</span>
              </div>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Team Section -->

    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Contact</h2>

        </div>

        <div class="row" data-aos="fade-up" data-aos-delay="100">

          <div class="col-lg-6">

            <div class="row">
              <div class="col-md-12">
                <div class="info-box">
                  <i class="bx bx-map"></i>
                  <h3>Our Address</h3>
                  <p>A108 Adam Street, New York, NY 535022</p>
                </div>
              </div>
              <div class="col-md-6">
                <div class="info-box mt-4">
                  <i class="bx bx-envelope"></i>
                  <h3>Email Us</h3>
                  <p>info@flexino.com<br>contact@flexino.com</p>
                </div>
              </div>
              <div class="col-md-6">
                <div class="info-box mt-4">
                  <i class="bx bx-phone-call"></i>
                  <h3>Call Us</h3>
                  <p>+1 5589 55488 55<br>+1 6678 254445 41</p>
                </div>
              </div>
            </div>

          </div>

          <div class="col-lg-6">
            <form action="forms/contact.php" method="post" role="form" class="php-email-form">
              <div class="row">
                <div class="col form-group">
                  <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
                  <div class="validate"></div>
                </div>
                <div class="col form-group">
                  <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" data-rule="email" data-msg="Please enter a valid email" />
                  <div class="validate"></div>
                </div>
              </div>
              <div class="form-group">
                <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject" />
                <div class="validate"></div>
              </div>
              <div class="form-group">
                <textarea class="form-control" name="message" rows="5" data-rule="required" data-msg="Please write something for us" placeholder="Message"></textarea>
                <div class="validate"></div>
              </div>
              <div class="mb-3">
                <div class="loading">Loading</div>
                <div class="error-message"></div>
                <div class="sent-message">Your message has been sent. Thank you!</div>
              </div>
              <div class="text-center"><button type="submit">Send Message</button></div>
            </form>
          </div>

        </div>

      </div>
    </section><!-- End Contact Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">

    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6 footer-contact">
            <h3>Flexino<span>.</span></h3>
            <p>
              A108 Adam Street <br>
              New York, NY 535022<br>
              United States <br><br>
              <strong>Phone:</strong> +1 5589 55488 55<br>
              <strong>Email:</strong> info@flexino.com<br>
            </p>
          </div>

          <div class="col-lg-2 col-md-6 footer-links">
            <h4>Useful Links</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="index">Home</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#about">About us</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#team">Team</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#contact">Contactus</a></li>

            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Our Upcoming Events</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="event1">Business Conferences</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="event2">Trade Shows</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="event3">Summit Meetings</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="event4">EPOS</a></li>

            </ul>
          </div>

          <div class="col-lg-4 col-md-6 footer-newsletter">
            <h4>Join Our Newsletter</h4>

            <form action="" method="post">
              <input type="email" name="email"><input type="submit" value="Subscribe">
            </form>
          </div>

        </div>
      </div>
    </div>

    <div class="container d-md-flex py-4">

      <div class="me-md-auto text-center text-md-left">
        <div class="copyright">
          &copy; Copyright <strong><span>Blessy</span></strong>. All Rights Reserved
        </div>
        <div class="credits">

          Designed by <a href="#"> Blessy</a>
        </div>
      </div>
      <div class="social-links text-center text-md-right pt-3 pt-md-0">
        <a href="https://www.linkedin.com/comm/in/blessycheriyan937a39174" class="twitter"><i class="bx bxl-twitter"></i></a>
        <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
        <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
        <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
        <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
      </div>
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top"><i class="icofont-simple-up"></i></a>



  <!-- Vendor JS Files -->
  <script src="{% static 'assets/vendor/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'assets/vendor/jquery.easing/jquery.easing.min.js' %}"></script>
  <script src="{% static 'assets/vendor/php-email-form/validate.js' %}"></script>
  <script src="{% static 'assets/vendor/owl.carousel/owl.carousel.min.js' %}"></script>
  <script src="{% static 'assets/vendor/waypoints/jquery.waypoints.min.js' %}"></script>
  <script src="{% static 'assets/vendor/counterup/counterup.min.js' %}"></script>
  <script src="{% static 'assets/vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
  <script src="{% static 'assets/vendor/venobox/venobox.min.js' %}"></script>
  <script src="{% static 'assets/vendor/aos/aos.js' %}"></script>

  <!-- Template Main JS File -->
  <script src="{% static 'assets/js/main.js' %}"></script>







<!--Start of Tawk.to Script-->
<script type="text/javascript">
var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
(function(){
var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
s1.async=true;
s1.src='https://embed.tawk.to/600062aba9a34e36b96c6f63/1es0o2soo';
s1.charset='UTF-8';
s1.setAttribute('crossorigin','*');
s0.parentNode.insertBefore(s1,s0);
})();
</script>
<!--End of Tawk.to Script-->


</body>
</html>